{% block body %}
     <table class="col-lg-8 table-hover">
        <thead>
            <tr>
                <th>Адреси Офісів</th>
                <th>Електронна пошта</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for office in offices %}
            <tr>
                <td>{{ office.address }}</td>
                <td>{{ office.email }}</td>
                <td style="text-align: right">
                    <a href="{{ path('office_show', { 'id': office.id }) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{{ path('office_edit', { 'id': office.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
        <tr><td><a href="{{ path('office_new') }}"><span class="glyphicon glyphicon-plus">Office</span></a></td></tr>
        </tbody>
    </table>

{% endblock %}
